@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/** --------------------------HEADER-------------------------- **/

.container__header {
    width: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding:1px 100px;
}

.menu__header > ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu__header > ul > li {
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    color: rgb(112, 112, 112);
    border: 2px solid rgb(99, 99, 99);
    border-radius: 30px;
    padding: 10px;
}
.menu__header > ul > li:hover {
    border-color: rgb(34, 34, 34);
}

.menu__header > ul > li > a {
    text-decoration: none;
    color: rgb(102, 102, 102);
}

.menu__header > ul > li > a:hover {
    color: rgb(34, 34, 34);
}

/** --------------------------MAIN-------------------------- **/

.container__main {
    background-image: url(/img/banner-main.jpg);

    background-color:rgb(233, 233, 233);
    background-size: cover;
    background-position: center bottom;
    width: 100vw;
    height: 550px;
}
/** --------------------------CARD-------------------------- **/

.container__card {
    background-color: rgb(233, 233, 233);
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.card__city {  
    background-color: rgba(255, 255, 255, 0.582);
    text-align: center;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    margin-bottom: 40px;
    width: 430px;
    height: 460.5px;
    transition: all 0.3s ease-out;
}

.card__city:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
 
.card__city h2 {
    padding-top:30px;
}

.card__city p {
    color: #a3a5ae;
    font-size: 16px;
    margin-bottom: 20px;
}
 
.card__city--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    border-radius: 5px;   
}

.card__green {
    border-left: 3px solid #3bb54a;
}
.card__red {
    border-left: 3px solid #9b2d2d;
}
.card__purple {
    border-left: 3px solid #8e3bb5;
}

/** --------------------------CAROUSEL-------------------------- **/

.container__slide {
    padding-bottom: 50px;
    margin: 0;
    padding: 0;
    height: 685px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.content > h1 {
    padding: 30px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
    color: rgb(63, 63, 63);
    text-align: center;

}

.content {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 25px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}

/** --------------------------VIDEO-------------------------- **/

.container__video {
    background-color:rgb(233, 233, 233) ;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** --------------------------FOOTER-------------------------- **/

footer {
    background-color:rgb(156, 156, 156);
}

.container__footer {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer > p {
    padding-bottom: 10px;
    font-weight: 300;
    text-align: center;
}

/** --------------------------BUTTONBACK-------------------------- **/

#back__button {
    text-align: center;
    font-size:40px;
    width: 80px;
    text-decoration: none;
    color: white;
    background-color:rgb(212, 103, 109);
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}


/** --------------------------RESPONSIVE-------------------------- **/

@media screen and (min-width: 1024px){

    .container__slide {
        height: 865px;
    }
    
    .slide img { 
        width: 940px;
        height: 685px;
    }

    .slide {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px){
    .container__header{
        flex-wrap: wrap;
        gap: 5px;
        padding-bottom: 30px;
    }

    .slide img { 
        width: 100%;
        height: 500px;
    }

    .content > h1 {
        font-size: 30px;
        padding: 20px;
    }

    .navigation {
        justify-content: center;
        bottom: 70px;
        width: 100%;
    }
}

@media screen and (max-width: 480px){

    div.container__header {
        flex-wrap: wrap;
        gap: 5px;
        padding-bottom: 30px;
    }     

    .card__city {
        width: 100%;
    }
    .card {
        padding: 0 10px;
    }

    .content > h1 {
        font-size: 20px;
        padding: 20px;
    }

    .slide img {
        width: 100%;
        height: 300px;
    }

    .navigation {
        justify-content: center;
        bottom: 15%;
        width: 100%;
    }

    .container__slide {
        height: 450px;
    }

    footer > p {
        font-size: 12px;
    }
}

@media screen and (max-width: 386px) {
    .menu__header > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu__header > ul > li{
        width: 200px;
        text-align: center;
    }

    .container__card {
        gap: 30px;
    }

    .card__city {
        height:387px;
    }

    .card__city--img {
        width: 100%;
        height: 277px;
    }
}






